 <div class="rech">
	 <% @users.each do |user| %>
		<% if user != current_user %>
	    	<%= user.pseudo %><br />
	    	<%= user.birthday %><br />
	    	<%= user.sex %><br />
			<%= user.scrore or 0 %>
	    	<%= link_to "Défi", user_new_challenge_path(user.id) %>
	  <% end %>
	<% end %>
</div>

Score = <%= current_user.scrore or 0 %>
