<div class="rech">
  <% @users.each do |user| %>
    <% if user != current_user %>
      <div class="row">
        <div class="machin col-xs-6">
        	<%= user.pseudo %><br />
        	<%= user.get_age %> ans<br />
        	<%= user.sex %><br />
        <div class="machin col-xs-6">
          score : <%= user.scrore or 0 %><br />
         <%= link_to "Défi", user_new_challenge_path(user.id), class: "btn btn-danger btn-defi" %><br /><br />
        </div>
    <% end %>
  <% end %>
        </div>
      </div>
      <!-- </div> -->
        
</div>


<!-- Score = <%= current_user.scrore or 0 %> -->